$def with (timestamp)
<html>
    <head>
        <style>
            .container {
                background-color: #666666;
                text-align: center;
            }

            .command, .container {
                font-size:48;
                background-color: #666666;
                color: white;
                text-align: center;
                border: 0;
            }
        </style>
    </head>
    <body>
        <div>
            This is just to test the code for command prompt view. This server will not support it
        </div>
        <div class="container" id="container" tabindex="0" >
                <input name="command" type="text" id="command" class="command"/>

                <div id="options">
                </div>
            
        </div>
    </body>
    <script type="text/javascript" src="/static/test/commandprompt.js?$timestamp"></script>
    <script>
    </script>
</html>